.menu {
	margin: 2% 10%;
	padding-bottom: 2em;
}

div.brand-logo, i.medium.material-icons {
	font-size: 2.25rem;
}

.right a {
	font-size: 1.5rem;
}

nav.nav-extended {
	height: 128px;
}

img.growth-explorer {
	height: 128px;
}

.row .col {
	float: none;
}

.row .col.m5 {
	width: 50%;
	margin: 0 auto;
}

.card-panel {
	text-align: center;
	font-size: 25px;
}

.row.portals {
	width: 40%;
	margin: 60px auto;
}

.row .col.m6 {
	float: left;
}

.card-content {
	text-align: center;
}

.card .card-title {
	font-size: 40px;
}

.card .card-content p {
	margin: 70px 0;
}
/*.row.col {
	clear: both;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}*/

/*a.brand-logo, i.medium.material-icons {
	height: 64px;
}*/

/*.explorer {
	text-align: center;
}

.explorer h2 {
	font-size: 3em;
	display: inline;
}

.explorer ul {
	list-style-type: none;
}

.explorer li {
	font-size: 1.5em;
	font-style: italic;
}

.pro-tips {
	width: 50%;
	margin: auto;
}

div.wrapper {
	width: 50%;
	margin: auto;
	padding-top: 5em;
}

div.card-panel {
	width: 260px;
	height: 275px;
	margin: 0 3%;
	float: left;
	display: inline-block;
	padding-top: 5em;
}

.measures {
	font-size: 2em;
	text-align: center;
}

.info-circle {
	margin: 27% 0 0 95%;
	color: white;
}*/