<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<base href="/">
	<title>Growth Explorer</title>

	<!-- CSS -->
	<link rel="stylesheet" href="styles/vendor/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="styles/custom/styles.css">

	<!-- JavaScript libraries/frameworks -->
	<script type="text/javascript" src="scripts/vendor/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="libs/angular/angular.min.js"></script>
	<script type="text/javascript" src="libs/angular-route/angular-route.min.js"></script>	
	<script type="text/javascript" src="scripts/vendor/materialize.min.js"></script>
	<script type="text/javascript" src="scripts/vendor/angular-materialize.min.js"></script>
	<script type="text/javascript" src="scripts/vendor/d3.v3.min.js"></script>
	<script type="text/javascript" src="scripts/vendor/ngStorage.min.js"></script>
	<script type="text/javascript" src="scripts/vendor/angular-md5.min.js"></script>
	<script type="text/javascript" src="scripts/vendor/angular-resource.min.js"></script>
	
	<!-- Angular custom -->
	<!-- <script src="scripts/controllers/HomeCtrl.js"></script>
		<script src="scripts/controllers/LoginCtrl.js"></script>
		<script src="scripts/controllers/TeacherCtrl.js"></script> -->
	<!-- 	<script src="scripts/services/LoginService.js"></script> -->
	<!-- 	<script src="scripts/appRoutes.js"></script>-->	
 <script src="scripts/app.js"></script>
</head>
	<!-- body falls under purview of "growthExplorer" app -->
	<body ng-app="growthExplorer">
		<p> {{ message }}</p>
		<div class="container">
			<!-- renders view file pertaining to URL -->
			<div ng-view></div>
		</div>	
	</body>

</html>