<!-- top navbar -->
<div class="menu" ng-controller="HomeController">
	<!-- preset options for dropdown menus -->
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="#!">P-one</a></li>
		<li><a href="#!">P-two</a></li>
		<li><a href="#!">P-three</a></li>
	</ul>
	<ul id="dropdown2" class="dropdown-content">
		<li><a href="#!">T-one</a></li>
		<li><a href="#!">T-two</a></li>
		<li><a href="#!">T-three</a></li>
	</ul>
	<nav class="nav-extended">
		<div class="nav-wrapper">
			<!-- Growth Explorer logo -->
			<a href="#" class="brand-logo"><img src="images/growth_explorer_large.png" class="growth-explorer"></a>
			<!-- welcome message -->
			<a href="#" class="brand-logo right"><i class="medium material-icons">perm_identity</i>Welcome Myrna</a>
			<br>
			<!-- Home/Practice/Learning menu options -->
			<ul id="nav-mobile" class="right">
				<li class="active"><a href="#">Home</a></li>
				<li><a class="dropdown-button" href="#" data-activates="dropdown1">Practice<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-button" href="#" data-activates="dropdown2">Learning<i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</div>
	</nav>
</div>

<!-- tagline -->
<div class="card-panel s12 tagline">
	<p>Quickly see your past.<br>Browse and reflect on your present.<br>Analyze trends.
	</p>
</div>

<!-- portals/cards -->
<div class="row portals">
	<!-- Teacher Practice card -->
	<div class="col measures">
		<div class="card portal">
			<div class="card-content">
				<span class="card-title">Teacher Practice</span>
				<p>View your past ratings, notes from your evaluators, and resources to continually learn and improve your practice.</p>
			</div>
			<div class="card-action right-align">
				<a href="/teacher-practice">Let's Explore &nbsp; &#8594;</a>
			</div>
		</div>
	</div>

	<!-- WeTeach card -->
	<div class="col measures">
		<div class="card weteach">
			<div class="card-content">
				<img src="../images/weteach.png" class="weteach">
				<p>WeTeachNYC is an online resource library and professional learning portal, making it easy for educators to connect with one another while improving their teaching and learning.</p>
			</div>
			<div class="card-action right-align">
				<a href="https://www.weteachnyc.org/">Let's Explore &nbsp; &#8594;</a>
			</div>
		</div>
	</div>

	<!-- Student Learning card -->
	<div class="col measures">
		<div class="card portal">
			<div class="card-content">
				<span class="card-title">Student Learning</span>
				<p>View your students' scores from today and years past. Use this information to continue refining your practice.</p>
			</div>
			<div class="card-action right-align">
				<a href="#">Let's Explore &nbsp; &#8594;</a>
			</div>
		</div>
	</div>
</div>