<!-- top navbar -->
<div class="menu">
	<!-- preset options for dropdown menus -->
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="/teacher-practice">Overview</a></li>
		<li><a href="/teacher-practice/components">Components</a></li>
	</ul>
	<!-- <ul id="dropdown2" class="dropdown-content">
		<li><a href="#">T-one</a></li>
		<li><a href="#">T-two</a></li>
		<li><a href="#">T-three</a></li>
	</ul> -->
	<nav class="nav-extended">
		<div class="nav-wrapper">
			<!-- Growth Explorer logo -->
			<a href="/home" class="brand-logo"><img src="images/growth_explorer_large.png" class="growth-explorer"></a>
			<!-- Home/Practice/Learning menu options -->
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/home">Home</a></li>
				<li>
					<!-- eventually re-add class="dropdown-button" and data-activates="dropdown1" -->
					<a class="dropdown-button" data-activates="dropdown1">Practice
						<i class="material-icons right">arrow_drop_down</i>
					</a>
				</li>
				<li>
					<!-- add class="dropdown-button" and data-activates="dropdown2" later on down the road-->
					<a href="/student-learning">Learning
						<!-- <i class="material-icons right">arrow_drop_down</i> -->
					</a>
				</li>
				<li><a class="log-off" href="/">Log Off</a></li>
			</ul>
		</div>
	</nav>
</div>

<img src="images/student_learning_expanded_2.png" class="placeholder">