<!-- injection of header partial (in progress) -->
<%= include('./partials/header.ejs') %>

<!-- top navbar -->
<div class="menu">
	<!-- preset options for dropdown menus -->
	<!-- <ul id="dropdown1" class="dropdown-content">
		<li><a href="/teacher-practice">Overview</a></li>
		<li><a href="#">Ratings</a></li>
		<li><a href="#">Components</a></li>
	</ul> -->
	<!-- <ul id="dropdown2" class="dropdown-content">
		<li><a href="#">T-one</a></li>
		<li><a href="#">T-two</a></li>
		<li><a href="#">T-three</a></li>
	</ul> -->
	<nav class="nav-extended">
		<div class="nav-wrapper">
			<!-- Growth Explorer logo -->
			<a href="/home" class="brand-logo"><img src="images/growth_explorer_large.png" class="growth-explorer"></a>
			<!-- Home/Practice/Learning menu options -->
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/home">Home</a></li>
				<li class="active">
					<!-- eventually re-add class="dropdown-button" and data-activates="dropdown1" -->
					<a href="/teacher-practice">Practice
						<!-- <i class="material-icons right">arrow_drop_down</i> -->
					</a>
				</li>
				<!-- <li>
					<a class="dropdown-button" href="#" data-activates="dropdown2">Learning
						<i class="material-icons right">arrow_drop_down</i>
					</a>
				</li> -->
				<li><a class="log-off" href="/">Log Off</a></li>
			</ul>
		</div>
	</nav>
</div>

<!-- Teaching Practice headline, tips cloud, and current school year -->
<h3>My Teaching Practice</h3>
<div class="observations-intro">
	<!-- tips cloud -->
	<div class="tips-cloud">
		<img src="../images/cloud_2.png">
		<p>Click on an<br>observation for more<br>details.</p>
	</div>
	<div class="school-year">
		<h4></h4>
	</div>
</div>

<!-- observation cards (YTD completed observations, pending observations) -->
<div class="row observation-cards">
	<!-- YTD completed observation -->
	<div class="completed-observations">	
		<ul class="collapsible popout" data-collapsible="accordion">
			<!-- TEMPLATE OF COMPLETED OBSERVATION -->
			<!-- <a href="#">
				<div class="col s2 completed-observation">
					<h5>September 18</h5>
					<p class="domain">In-Class:</p>
					<p class="score">3.5</p>
					<hr>
					<p class="domain">Out of Class:</p>
					<p class="score">3</p>
				</div>
			</a> -->
		</ul>
	</div>	
	<!-- YTD remaining/pending observations -->
	<div class="pending-observations">		
		<!-- TEMPLATE OF PENDING OBSERVATION -->
		<!-- <div class="col s2 pending-observation">
			<h5></h5>
			<p></p>
			<p></p>
		</div> -->
	</div>	
</div>

<div class="row motp-summary">
	<!-- previous year's MOTP score and rating -->
	<div class="col previous-motp">
		<p id="fiscal-year"></p>
		<p id="score"></p>
		<p id="rating"></p>
	</div>
	<!-- YTD MOTP score -->
	<div class="col current-score">
		<p>Current Score</p>
	</div>
</div>

<!-- WeTeach icon (soon-to-be carousel) -->
<div class="weteach-carousel">
	<img src="../images/weteach.png">
	<div class="weteach-advice">	
		<h5>Conducting a Needs Assessment</h5>
		<p>This activity accompanies the <i>Handbook for Professional Learning</i> and moves participants through the stages of conducting assessments on themselves.</p>
	</div>	
</div>
<!-- "Dig In" icon -->
<div class="dig-in">
	<h3>Dig In</h3>
	<img src="../images/graph.png">
</div>