<!-- <% include('./partials/header.ejs') %> -->

<div class="menu" ng-controller="HomeController">
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="#!">P-one</a></li>
		<li><a href="#!">P-two</a></li>
		<li><a href="#!">P-three</a></li>
	</ul>
	<ul id="dropdown2" class="dropdown-content">
		<li><a href="#!">T-one</a></li>
		<li><a href="#!">T-two</a></li>
		<li><a href="#!">T-three</a></li>
	</ul>
	<nav class="nav-extended">
		<div class="nav-wrapper">
			<a href="/home" class="brand-logo"><img src="images/growth_explorer_large.png" class="growth-explorer"></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#">Home</a></li>
				<li class="active"><a class="dropdown-button" href="#" data-activates="dropdown1">Practice<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-button" href="#" data-activates="dropdown2">Learning<i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</div>
	</nav>
</div>

<h3>My Teaching Practice</h3>

<div class="card-panel s12 tagline">
	<p>Myrna - You have completed <span>3 out of 5 of your observations</span> for the 2016-2017 school year.
	</p>
</div>

<div class="row observation-cards">
	<div class="col s2 previous-year">
		<div class="previous-motp">
			<h5>Last Year's Score</h5>
			<p class="score">3.1</p>
			<p class="rating">Effective</p>
		</div>
	</div>
	<a href="#">
		<div class="col s2 completed-observation">
			<h5>September 18</h5>
			<p class="domain">In-Class:</p>
			<p class="score">3.5</p>
			<hr>
			<p class="domain">Out of Class:</p>
			<p class="score">3</p>
		</div>
	</a>	
	<a href="#">
		<div class="col s2 completed-observation">
			<h5>October 5</h5>
			<p class="domain">In-Class:</p>
			<p class="score">3</p>
			<hr>
			<p class="domain">Out of Class:</p>
			<p class="score">2</p>
		</div>
	</a>	
	<a href="#">
		<div class="col s2 completed-observation">
			<h5>October 21</h5>
			<p class="domain">In-Class:</p>
			<p class="score">2</p>
			<hr>
			<p class="domain">Out of Class:</p>
			<p class="score">3.5</p>
		</div>
	</a>	
	<div class="col s2 pending-observation">
		<h5></h5>
		<p></p>
		<p></p>
	</div>
	<div class="col s2 pending-observation">
		<h5></h5>
		<p></p>
		<p></p>
	</div>
</div>

<div class="row motp-summary">
	<div class="col s3 tips-cloud">
		<img src="../images/cloud_2.png">
		<p>Click on an<br>observation for more<br>details.</p>
	</div>
	<div class="col s4 current-score">
		<h4>Current<br>Score</h4>
		<p>2.9</p>
	</div>
	<div class="col s4 dig-in">
		<h3>Dig In</h3>
		<img src="../images/graph.png">
	</div>
</div>