/***********************/
/*ALL PAGES*/
/***********************/

/*custom fonts*/
@font-face {
	font-family: MuseoSans;
	src: url('fonts/MuseoSans_500.otf');
}

@font-face {
	font-family: MuseoSlab;
	src: url('fonts/Museo_Slab_500.otf');
}

/*container width*/
.container {
	width: 984px;
	margin-top: 1%;
}

/***********************/
/*LOGIN PAGE*/
/***********************/

/*growth explorer logo*/
img.growth-explorer {
	height: 128px;
	/*margin-top: 1%;*/
}

/*login section*/
.login-form {
	width: 45%;
	margin-left: 2%;
	border: 5px solid #8ad43f;
	padding: 1%;
	display: inline-block;
	float: left;
	font-family: MuseoSlab;
}

.login-form .col.s12 .row {
	margin-bottom: 0;
}

.login-form .input-field label {
	font-size: 1.2rem;
}

a.logon, div.signup {
	width: 87%;
	margin-left: .75rem;
	text-transform: none;
}

a.btn.logon, .signup a.btn {
	background-color: #616161;
}

.signup p {
	font-weight: bold;
	font-size: 15px;
}

.signup a.btn {
	font-weight: normal;
	font-size: 15px;
	width: 76.5%;
	text-transform: none;
}

/*MacBook image*/
img.laptop {
	width: 46%;
	margin-top: -0.5%;
	margin-left: 4%;
}

/*divider*/
hr {
	height: 6px;
	background-color: #616161;
}

/*task cards*/
.row.tasks {
	margin: 3% 1%;
}

.row.tasks .col.s4 {
	margin: 0 1%;
	width: 31%;
	border-radius: 25px;
	text-align: center;
	border:	5px solid #ff9819;
}

.row.tasks img {
	margin-top: 6%;
	height: 100px;
}

.row.tasks .card-content {
	padding: 0 15px 20px;
	color: black;
}

.row.tasks span {
	font-size: 22px;
	font-family: MuseoSans;
	font-weight: bold;
}

.row.tasks p {
	font-family: MuseoSlab;
	font-size: 16px;
}

/*FAQs/Contact footer*/
footer.page-footer {
	padding-top: 12px;
	background-color: white;
	border: 5px solid #93c0ed;
}

.page-footer .container {
	width: 870px;
}

.page-footer .s6 {
	border-right: 5px solid #93c0ed;
}

.page-footer .row .col.s5 {
	margin-left: 3%;
}

.page-footer h5 {
	font-family: MuseoSans;
	font-weight: bold;
}

.page-footer p, .page-footer span {
	font-family: MuseoSlab;
}

.page-footer li {
	font-size: 18px;
	padding-bottom: 15px;
}

.page-footer i.small {
	float: left;
}

/***********************/
/*HOME PAGE*/
/***********************/

/*navbar*/
.menu {
	padding-bottom: 1em;
}

nav.nav-extended {
	height: 128px;
	box-shadow: none;
	line-height: 56px;
}

nav .nav-wrapper {
	background-color: white;
}

/*Growth Explorer logo*/
@media only screen and (max-width: 992px) {
	nav .brand-logo {
		left: 19%;
	}
}

img.growth-explorer {
	height: 128px;
}

/*Welcome message and name*/
nav .brand-logo.right {
	font-family: MuseoSlab;
	color: black;
	font-size: 2.25rem;
}

/*dropdown menu*/
nav ul a {
	padding: 0 10px;
}

ul.right a {
	font-size: 1.5rem;
	font-family: MuseoSans;
	color: black;
}

i.right {
	margin-left: 0px;
}

/*Growth Explorer tagline*/
.card-panel.tagline {
	text-align: center;
	font-size: 30px;
	font-family: MuseoSlab;
	color: white;
	background-color: #616161;
}

/*Teacer Practice and Student Learning section*/
.row.portals {
	margin: 60px auto;
}

/*tips icon*/
.row .col.s4.cloud {
	margin-left: .75%;
}

.cloud img {
	position: relative;
	width: 110%;
	top: -45px;
	left: -25px;
}

.cloud p {
	position: relative;
	top: -255px;
	left: -8px;
	font-family: MuseoSlab;
	font-size: 17px;
	text-align: center;
}

/*Teacher Practice and Student Learning cards*/
.row .col.measures {
	width: 30%;
	margin-left: 2%;
}

.measures .card.portal {
	background-color: #8ad43f;
}

.measures .card.portal, .measures .card.weteach {
	border-radius: 25px;
}

.measures .card .card-content {
	padding: 8px;
	text-align: center;
	color: white;
}

.measures .card .card-title {
	font-size: 40px;
	font-family: MuseoSans;
}

.measures .card .card-content p {
	margin: 30px 0;
	font-family: MuseoSlab;
	font-size: 15px;
}

.measures .card .card-action {
	border-radius: 0 0 25px 25px;
	padding: 8px;
}

/*controls non-hover and hover elements of "Let's Explore" button*/
.measures .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
	color: white;
	text-transform: none;
	font-weight: bold;
	font-size: 20px;
}

.measures .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
		color: #ff9819;
}

/*WeTeach card*/
.measures .card.weteach {
	margin-top: 10%;
	border: 5px solid #93c0ed;
}

.measures .card.weteach .card-content p {
	color: black;
	font-size: 13px;
	margin: 3px 0;
}

img.weteach {
	width: 75%;
}

.card.weteach .card-action {
	border-top: none;
}

.measures .card.weteach .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
		color: black;
}

/***********************/
/*TEACHER PRACTICE - PAGE 1*/
/***********************/

h3 {
	text-align: center;
	font-family: MuseoSans;
}

.card-panel.tagline p {
	margin: 10px;
}

.card-panel.tagline span {
	color: #ff9819;
}