/***********************/
/*ALL PAGES*/
/***********************/

/*custom fonts*/
@font-face {
	font-family: MuseoSans;
	src: url('fonts/MuseoSans_500.otf');
}

@font-face {
	font-family: MuseoSlab;
	src: url('fonts/Museo_Slab_500.otf');
}

/*container width*/
.container {
	width: 984px;
	margin-top: 1%;
}

/***********************/
/*LOGIN PAGE*/
/***********************/

/*growth explorer logo*/
img.growth-explorer {
	height: 128px;
	/*margin-top: 1%;*/
}

/*login section*/
.login-form {
	width: 45%;
	margin-left: 2%;
	border: 5px solid #8ad43f;
	padding-left: 2%;
	display: inline-block;
	float: left;
	font-family: MuseoSlab;
}

.login-form .col.s12 .row {
	margin-bottom: 0;
}

.login-form .input-field label {
	font-size: 1.2rem;
}

a.logon, div.signup {
	width: 87%;
	margin-left: .75rem;
	text-transform: none;
}

a.btn.logon, .signup a.btn {
	background-color: #616161;
}

.signup p {
	font-weight: bold;
	font-size: 15px;
}

.signup a.btn {
	font-weight: normal;
	font-size: 15px;
	width: 76.5%;
	text-transform: none;
}

/*MacBook image*/
img.laptop {
	width: 46%;
	margin-top: -1.5%;
	margin-left: 4%;
}

/*divider*/
hr {
	height: 6px;
	background-color: #616161;
}

/*task cards*/
.row.tasks {
	margin: 3% 1%;
}

.row.tasks .col.s4 {
	margin: 0 1%;
	width: 31%;
	border-radius: 25px;
	text-align: center;
	border:	5px solid #ff9819;
}

.row.tasks img {
	margin-top: 6%;
	height: 100px;
}

.row.tasks .card-content {
	padding: 0 15px 20px;
	color: black;
}

.row.tasks span {
	font-size: 22px;
	font-family: MuseoSans;
	font-weight: bold;
}

.row.tasks p {
	font-family: MuseoSlab;
	font-size: 16px;
}

/*FAQs/Contact footer*/
footer.page-footer {
	padding-top: 12px;
	background-color: white;
	border: 5px solid #93c0ed;
}

.page-footer .container {
	width: 870px;
}

.page-footer .s6 {
	border-right: 5px solid #93c0ed;
}

.page-footer .row .col.s5 {
	margin-left: 3%;
}

.page-footer h5 {
	font-family: MuseoSans;
	font-weight: bold;
}

.page-footer p, span {
	font-family: MuseoSlab;
}

.page-footer li {
	font-size: 18px;
	padding-bottom: 15px;
}

.page-footer i.small {
	float: left;
}

/***********************/
/*HOME PAGE*/
/***********************/

/*navbar*/
.menu {
	padding-bottom: 1em;
}

@media only screen and (max-width: 992px) {
	nav .brand-logo {
		left: 19%;
	}
}

