/*container width*/
.container {
	width: 984px;
}

/*growth explorer logo*/
img.growth-explorer {
	height: 128px;
	margin-top: 1%;
}

/*login section*/

.login-form {
	width: 45%;
	margin-left: 2%;
	border: 5px solid #8ad43f;
	padding-left: 2%;
	display: inline-block;
	float: left;
}

a.logon, div.signup {
	width: 87%;
	margin-left: .75rem;
}

.signup p {
	font-weight: bold;
	font-size: 15px;
}

.signup .btn {
	font-weight: normal;
	font-size: 15px;
	width: 78%;
}

img.laptop {
	width: 50%;
	margin-top: -1%;
	margin-left: 3%;
}

hr {
	height: 6px;
}

/*task cards*/

.row.tasks {
	margin: 3% 1%;
}

.row.tasks .col.s4 {
	margin: 0 1%;
	width: 31%;
	border-radius: 25px;
	text-align: center;
	border:	5px solid #ff9819;
}

.row.tasks img {
	margin-top: 6%;
	height: 100px;
}

.row.tasks .card-content {
	padding: 0 15px 20px;
}

.row.tasks span {
	font-size: 22px;
}