/*container width*/
.container {
	width: 984px;
}

/*growth explorer logo*/
img.growth-explorer {
	height: 128px;
	margin-top: 1%;
}

/*login section*/
.row {
	margin-bottom: 0px;
}

.container .row {
	margin-left: 0;
	margin-right: 0;
}

.row.login-form {
	margin-top: 0.5em;
	width: 45%;
	border: 5px solid #aeea00;
	position: relative;
}

.row .col.s11 {
	left: 7%;
}

.btn.logon {
	width: 75%;
	margin-left: 11%;
	margin-bottom: 4%;
}

.signup {
	margin-left: 11%;
}

.signup p {
	font-size: 16px;
	font-weight: bold;
}

.signup .btn {
	width: 62%;
	font-weight: normal;
}